.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}